<svg:g xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg">
  <rect width="150" height="20" fill="#f0f0f0" />
  <foreignObject width="150" height="20">
    <xhtml:div style="display: flex; display: flex; font-size: 12px; line-height: 12px; padding-left: 10px;">
      <span class="codicon codicon-chevron-down" style="font-size: 12px; margin-right: 2px; color: #000000;"></span>
      <span>方法</span>
    </xhtml:div>
  </foreignObject>
  <g transform="translate(0, 20)" app-method name="function1"></g>
  <g transform="translate(0, 40)" app-method name="function2"></g>
  <g transform="translate(0, 60)" app-method name="function3"></g>
  <g transform="translate(0, 80)" app-method name="function4"></g>
</g>
